<a href="https://colab.research.google.com/github/Onestringlab/osl_datascience/blob/main/12_membuat_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#1. Membuat data frame dari 1 list

In [2]:
data = ['Anita', 'Budiman', 'Candra', 'Dorimilaje', 'Baskoro', 'Febiola', 'Hartono']
df = pd.DataFrame(data)
df

            0
0       Anita
1     Budiman
2      Candra
3  Dorimilaje
4     Baskoro
5     Febiola
6     Hartono

#2. Membuat data frame dari 1 list, memberikan nama kolom dan nilai index

In [3]:
data = ['Anita', 'Budiman', 'Candra', 'Dorimilaje', 'Baskoro', 'Febiola', 'Hartono']
df = pd.DataFrame(data,columns=['nama'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
df

         nama
a       Anita
b     Budiman
c      Candra
d  Dorimilaje
e     Baskoro
f     Febiola
g     Hartono

#3. Membuat data frame dari beberapa list

In [4]:
data = ['Anita', 'Budiman', 'Candra', 'Dorimilaje', 'Baskoro', 'Febiola', 'Hartono']
jk = ["W","P","P","W","P","W","P"]
nilai = [89,45,67,78,67,45,84]
dt = list(zip(data,jk,nilai))
df = pd.DataFrame(dt,columns=['nama','gender','nilai'])
df

         nama gender  nilai
0       Anita      W     89
1     Budiman      P     45
2      Candra      P     67
3  Dorimilaje      W     78
4     Baskoro      P     67
5     Febiola      W     45
6     Hartono      P     84

#4.Membuat dataframe dari multidimensi list

In [5]:
data = [['Anita','W',89], ['Budiman','P',45], ['Candra','P',867], 
        ['Dorimilaje','W',78],['Baskoro','P','67'],
        ['Febiola','W',45], ['Hartono','P',84]]
df = pd.DataFrame(data,columns=['nama','gender','nilai'])
df

         nama gender nilai
0       Anita      W    89
1     Budiman      P    45
2      Candra      P   867
3  Dorimilaje      W    78
4     Baskoro      P    67
5     Febiola      W    45
6     Hartono      P    84

#5.Membuat data frame menggunakan dictionary

In [6]:
data = ['Anita', 'Budiman', 'Candra', 'Dorimilaje', 'Baskoro', 'Febiola', 'Hartono']
jk = ["W","P","P","W","P","W","P"]
nilai = [89,45,67,78,67,45,84]
dic = {'nama':data,'gender':jk,'nilai':nilai}
df = pd.DataFrame(dic)
df

         nama gender  nilai
0       Anita      W     89
1     Budiman      P     45
2      Candra      P     67
3  Dorimilaje      W     78
4     Baskoro      P     67
5     Febiola      W     45
6     Hartono      P     84